*{
    font-size: 1.2rem;
  }
  button{
    height: 50px;
    width: 300px;
    border-radius: 50px ;
    background-color:rgb(110, 230, 208);
    border: none;
  }
  ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  
  }
  li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(110, 230, 208);
  }