<form action="http://localhost:8080/api/productos" method="post">
      <input type="text" name="title" placeholder="nombre del producto" required>
      <input type="number" name="price" placeholder="precio del producto" required>
      <input type="text" name="thumbnail" placeholder="pegar url de la imagen" required>
      <button>enviar</button>
</form>