<section>
<h1>Ingrese producto</h1>
<form id="productForm" >
      <input id="nameProduct" type="text" name="name" placeholder="nombre del producto" required>
      <input id="price" type="number" name="price" placeholder="precio del producto" required>
      <input id="imgUrl" type="text" name="thumbnail" placeholder="pegar url de la imagen" required>
      <button>ENVIAR</button>
</form>
<div class="tittles">
      <span>Nombre</span>
      <span>Precio</span>
      <span>img</span>
</div>
<ul id="listProducts">

</ul>
</section>
<section>
<h2>Centro de ayuda</h2>
<form id="messageForm">
      <input id="email" type="email" name="name" placeholder="email" required>
      <ul id="listMessage">
      </ul>
      <input id="message" type="text" name="price" placeholder="mensaje" required>
      <button>ENVIAR</button>
</form>

</section>